#
# Sensor driver configuration
#

config SENSORS_KXTJ9
        tristate "KXTJ9 g-sensor sensor"
        depends on I2C

config SENSORS_AK09911
        tristate "AK09911 compass support"
        depends on I2C
        help
          If you say yes here you get support for Asahi Kasei's
          orientation sensor AK09911.

config HALL_SENSOR
        bool "Hall sensor support"
        default n

config SENSORS_AK09911_a600cg
        tristate "AK09911 compass support"
	 depends on I2C
	 help
	   If you say yes here you get support for Asahi Kasei's
	   orientation sensor AK09911.

